<head>


</head>
<h1>Bienvenue dans le projet Gossip</h1>


<form action="/" method="post">
	<input type="hidden" name="authenticity_token"
	value="<%= form_authenticity_token %>">
	Donne-moi ton nom :
	<input type="text" name="author"><br><br>
	<input type="submit" name="Envoyer">
</form>