<head>


</head>
<h1>Bonjour <%= @gossip %></h1>


<p>Voici la liste des potins</p><br><br>

<% @gossip_all.each do |r| %>

<a> Auteur : <%=r.author%> </a> <br><br>
<a> Potin : <%=r.content%> </a> <br><br>

<% end %>

